Django==2.0
zappa
django-extensions
bpython
pytest
django-rest-framework
django-storages
django-auditlog
boto
django-environ
django-ses
django-s3-storage==0.12.4
gql
psycopg2-binary
web3==4.0.0b11
coincurve
eth-keys
pandoc
ethereum
django-filter
